:root{
    --cor-principal: #fbf5ebcc;
    --cor-secundaria: #faf1e1cc;
    --cor-legenda: #FAF7F5;
    --cor-legenda-back: #513c8a ;
    --cor-titulos: #23202a ;
    --cor-paragrafo: #B0578D ;
    --destaques: #987af3; 
    --radius: #5033a2;
    --sombra: #9373ec;
} 